In [7]:
# Importando librerias necesarias

import pandas as pd
from sklearn.model_selection import train_test_split

## Algoritmos de predicci√≥n

In [5]:
# Cargando datos
data_final = pd.read_csv('data_final.csv')

# Generando variable respuesta - Diferencia de edad
data_final['diferenciaEdad'] = abs(data_final['edadHombre'] - data_final['edadMujer'])

data_final.head()

,ocupacionHombre,ocupacionMujer,claseUnion,grupoEtnicoHombre,grupoEtnicoMujer,edadHombre,edadMujer,educacionHombre,educacionMujer,departamentoRegistro,mesRegistro,anioRegistro,diferenciaEdad
0,15,15,3,-1,-1,29,31,1,1,7,1,2012,2
1,20,0,1,2,-1,21,17,-1,1,21,12,2011,4
2,28,6,3,-1,-1,58,53,1,1,7,11,2011,5
3,6,6,1,1,1,31,24,5,4,7,11,2011,7
4,8,6,1,1,1,27,25,4,4,18,1,2012,2

In [16]:
data_final.to_csv('data_final_parte2.csv', index=False)
data_p2 = pd.read_csv('data_final_parte2.csv')

In [20]:
# Obteniendo variables respuesta

if "diferenciaEdad" in data_p2:
    y = data_p2.pop("diferenciaEdad") #La variable respuesta
X = data_p2 #Las variables predictoras

## Division de dataset de entrenamiento y prueba
X_train, X_test,y_train, y_test = train_test_split(X, y,test_size=0.3,train_size=0.7)