In [17]:
# Importando librerias necesarias

import pandas as pd
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import numpy as np
import random
import time
import statsmodels.api as sm
import statsmodels.stats.diagnostic as diag
import pandas as pd
import seaborn as sns
import scipy.stats as stats
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier

## Algoritmos de predicci√≥n

In [18]:
# Cargando datos
data_final = pd.read_csv('data_final.csv')

# "poca" entre 0 y 3 anios
# "moderada" entre 4 y 6 anios
# "alta" mas de 6 anios


data_final['diferenciaEdad'] = abs(data_final['edadHombre'] - data_final['edadMujer'])
data_final['diferenciaEdad'] = data_final['diferenciaEdad'].apply(lambda x: 'poca' if x <= 3 else ('moderada' if x <= 6 else 'alta'))

data_final = data_final.replace(0, -1)

data_final.head()

,ocupacionHombre,ocupacionMujer,claseUnion,grupoEtnicoHombre,grupoEtnicoMujer,edadHombre,edadMujer,educacionHombre,educacionMujer,departamentoRegistro,mesRegistro,anioRegistro,diferenciaEdad
0,15,15,3,-1,-1,29,31,1,1,7,1,2012,poca
1,20,-1,1,2,-1,21,17,-1,1,21,12,2011,moderada
2,28,6,3,-1,-1,58,53,1,1,7,11,2011,moderada
3,6,6,1,1,1,31,24,5,4,7,11,2011,alta
4,8,6,1,1,1,27,25,4,4,18,1,2012,poca

In [19]:
# recategorizando la variable ocupacionHombre

# Si 1, 23, 41 - Trabajos de campo
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'trabajoCampo' if x in [1, 23, 41] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'trabajoCampo' if x in [1, 23, 41] else x)

# si 2, 10, 16, 17, 20 - Manufactura/Produccion
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'manufactura/produccion' if x in [2, 10, 16, 17, 20] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'manufactura/produccion' if x in [2, 10, 16, 17, 20] else x)

# si 4, 19, 24 - Manejo de maquinaria
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'manejoMaquinaria' if x in [4, 19, 24] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'manejoMaquinaria' if x in [4, 19, 24] else x)

# si 5, 6, 7, 11 - Gestion/Direccion 
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'gestion/direccion' if x in [5, 6, 7, 11, 12] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'gestion/direccion' if x in [5, 6, 7, 11, 12] else x)

# si 8, 18, 21, 32 - Administracion
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'administracionNegocios' if x in [8, 18, 21, 32] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'administracionNegocios' if x in [8, 18, 21, 32] else x)

# si 9, 39, 40 - ServicioCliente/Ventas
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'servicioCliente/ventas' if x in [3, 9, 39, 40] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'servicioCliente/ventas' if x in [3, 9, 39, 40] else x)

# si 13, 35 - Limpieza
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'limpieza' if x in [13, 35] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'limpieza' if x in [13, 35] else x)

# si 15, 22, 25 - Seguridad
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'seguridad' if x in [15, 22, 25] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'seguridad' if x in [15, 22, 25] else x)

# si 26 - Educacion
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'educacion' if x in [26] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'educacion' if x in [26] else x)

# si 27, 30 - Salud
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'salud' if x in [27, 30, 36] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'salud' if x in [27, 30, 36] else x)

# si 31, 34 - Servicios Juridicos
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'serviciosJuridicos' if x in [31, 34] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'serviciosJuridicos' if x in [31, 34] else x)

# si 28, 29, 33, 37, 38 - Ciencias/Tecnologia
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'ciencias/tecnologia' if x in [28, 29, 33, 37, 38] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'ciencias/tecnologia' if x in [28, 29, 33, 37, 38] else x)

# si 14 - No especificado
data_final['ocupacionHombre'] = data_final['ocupacionHombre'].apply(lambda x: 'noEspecificado' if x in [0, -1, 14] else x)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].apply(lambda x: 'noEspecificado' if x in [0, -1, 14] else x)

In [20]:
data_final

,ocupacionHombre,ocupacionMujer,claseUnion,grupoEtnicoHombre,grupoEtnicoMujer,edadHombre,edadMujer,educacionHombre,educacionMujer,departamentoRegistro,mesRegistro,anioRegistro,diferenciaEdad
0,seguridad,seguridad,3,-1,-1,29,31,1,1,7,1,2012,poca
1,manufactura/produccion,noEspecificado,1,2,-1,21,17,-1,1,21,12,2011,moderada
2,ciencias/tecnologia,gestion/direccion,3,-1,-1,58,53,1,1,7,11,2011,moderada
3,gestion/direccion,gestion/direccion,1,1,1,31,24,5,4,7,11,2011,alta
4,administracionNegocios,gestion/direccion,1,1,1,27,25,4,4,18,1,2012,poca
...,...,...,...,...,...,...,...,...,...,...,...,...,...
394650,educacion,noEspecificado,1,2,2,32,26,4,2,8,4,2016,moderada
394651,trabajoCampo,noEspecificado,1,2,2,23,31,-1,1,8,3,2016,alta
394652,trabajoCampo,noEspecificado,1,2,2,27,31,-1,2,8,4,2016,moderada
394653,trabajoCampo,noEspecificado,1,2,2,34,34,1,1,8,4,2016,poca
394654,trabajoCampo,noEspecificado,1,2,-1,20,15,2,-1,8,5,2016,moderada

In [21]:
# trabajosCampo -> 1, manufactura/produccion -> 2, manejoMaquinaria -> 3, gestion/direccion -> 4, administracionNegocios -> 5, servicioCliente/ventas -> 6,
# limpieza -> 7, seguridad -> 8, educacion -> 9, salud -> 10, serviciosJuridicos -> 11, ciencias/tecnologia -> 12, noEspecificado -> 13.

fields = { 'trabajoCampo': 1, 'manufactura/produccion': 2, 'manejoMaquinaria': 3, 'gestion/direccion': 4, 'administracionNegocios': 5, 'servicioCliente/ventas': 6,
              'limpieza': 7, 'seguridad': 8, 'educacion': 9, 'salud': 10, 'serviciosJuridicos': 11, 'ciencias/tecnologia': 12, 'noEspecificado': 13 }

data_final['ocupacionHombre'] = data_final['ocupacionHombre'].map(fields)
data_final['ocupacionMujer'] = data_final['ocupacionMujer'].map(fields)

In [22]:
data_final

,ocupacionHombre,ocupacionMujer,claseUnion,grupoEtnicoHombre,grupoEtnicoMujer,edadHombre,edadMujer,educacionHombre,educacionMujer,departamentoRegistro,mesRegistro,anioRegistro,diferenciaEdad
0,8,8,3,-1,-1,29,31,1,1,7,1,2012,poca
1,2,13,1,2,-1,21,17,-1,1,21,12,2011,moderada
2,12,4,3,-1,-1,58,53,1,1,7,11,2011,moderada
3,4,4,1,1,1,31,24,5,4,7,11,2011,alta
4,5,4,1,1,1,27,25,4,4,18,1,2012,poca
...,...,...,...,...,...,...,...,...,...,...,...,...,...
394650,9,13,1,2,2,32,26,4,2,8,4,2016,moderada
394651,1,13,1,2,2,23,31,-1,1,8,3,2016,alta
394652,1,13,1,2,2,27,31,-1,2,8,4,2016,moderada
394653,1,13,1,2,2,34,34,1,1,8,4,2016,poca
394654,1,13,1,2,-1,20,15,2,-1,8,5,2016,moderada

In [23]:
data_final.to_csv('data_final_parte2.csv', index=False)
data_p2 = pd.read_csv('data_final_parte2.csv')

In [24]:
data_final.to_csv('data_no_codificada.csv', index=False)