## Tablas de frecuencia - Variables categ√≥ricas

In [8]:
import pandas as pd

In [9]:
data_frame = pd.read_csv("data_final.csv")

In [11]:
# Tabla de frecuencia - Ocupacion Hombre
data_frame["ocupacionHombre"].value_counts()

 1     131693
 14     50214
 0      40827
 23     27784
 39     27470
 16     12578
 26     12336
 8      11153
 17      8541
 29      8515
 4       7549
 19      6605
 31      6287
 38      5891
 20      4701
 32      4253
-1       3930
 28      3085
 25      2904
 24      2577
 34      2131
 36      2093
 37      2011
 11      1690
 27      1351
 30       967
 5        796
 35       687
 9        602
 33       592
 2        566
 13       527
 18       375
 41       303
 21       271
 7        180
 15       164
 22       157
 6        111
 40        84
 12        57
 10        25
 3         22
Name: ocupacionHombre, dtype: int64

In [12]:
# Tabla de frecuencia - Ocupacion Mujer
data_frame["ocupacionMujer"].value_counts()

 14    182602
 0     134313
 26     19968
 18      9829
 8       7365
-1       6790
 39      6094
 31      3488
 32      3337
 38      2806
 19      2469
 30      2085
 20      2082
 34      2076
 27      2003
 36      1781
 11      1281
 28      1121
 29       619
 5        542
 9        474
 21       445
 2        233
 1        171
 24       154
 33       124
 13       104
 25        99
 6         43
 35        35
 3         25
 23        25
 12        21
 17        10
 40        10
 15         8
 7          6
 4          6
 16         5
 37         4
 10         1
 22         1
Name: ocupacionMujer, dtype: int64

In [13]:
# Tabla de frecuencia - Clase Union
data_frame["claseUnion"].value_counts()

 1    338308
-1     27552
 2     22154
 3      6641
Name: claseUnion, dtype: int64

In [14]:
# Tabla de frecuencia - Grupo Etnico Hombre
data_frame["grupoEtnicoHombre"].value_counts()

 1    207929
 2    144477
-1     42249
Name: grupoEtnicoHombre, dtype: int64

In [15]:
# Tabla de frecuencia - Grupo Etnico Mujer
data_frame["grupoEtnicoMujer"].value_counts()

 1    197639
 2    136343
-1     60673
Name: grupoEtnicoMujer, dtype: int64

In [16]:
# Tabla de frecuencia - Educacion Hombre
data_frame["educacionHombre"].value_counts()

 2    136273
 4     90525
 1     65691
 3     58862
-1     28184
 5     15019
 6       101
Name: educacionHombre, dtype: int64

In [17]:
# Tabla de frecuencia - Educacion Mujer
data_frame["educacionMujer"].value_counts()

 2    111119
 1     98857
 4     85547
 3     45623
-1     41130
 5     12334
 6        45
Name: educacionMujer, dtype: int64

In [18]:
# Tabla de frecuencia - Departamento Registro
data_frame["departamentoRegistro"].value_counts()

7     81740
8     30460
1     26718
17    26668
14    26262
13    24265
3     19729
6     18842
20    18180
21    14424
11    12696
12    11869
19    10595
15     9934
16     9709
18     9327
4      8811
9      8298
2      7740
10     7499
22     6357
5      4532
Name: departamentoRegistro, dtype: int64

In [19]:
# Tabla de frecuencia - Mes Registro
data_frame["mesRegistro"].value_counts()

12    38877
1     38232
5     35362
3     35146
4     33129
11    32087
2     31833
8     31728
6     30490
7     30240
10    29870
9     27661
Name: mesRegistro, dtype: int64